<div class="header">
    <div class="header-title">
        <h1>MovieHub</h1>
        <em class="mb-3"><q>Ce n'est pas du porno, c'est de la vidéo</q></em>
        <p style="color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique lorem mauris, molestie tincidunt nibh condimentum id. Fusce in orci et ligula porttitor pharetra id nec arcu.</p>
    <i class="far fa-play-circle"></i>

    </div>
</div>