    <script>
        const url = window.location.pathname; 
        const home = document.getElementsByClassName('nav-home');
        const comin = document.getElementsByClassName('nav-comin');
        const random = document.getElementsByClassName('nav-random');
        const all = document.getElementsByClassName('nav-all');
        
        if(url === "/") {
            home[0].classList.add("active");
        } else {
            home[0].classList.remove("active");
        }
        if(url === `/coming-soon/`) {
            comin[0].classList.add("active");
            console.log(url)
        } else {
            comin[0].classList.remove("active");
        }
    
        if(url === "/random/") {
            random[0].classList.add("active");
        } else {
            random[0].classList.remove("active");
        }
    </script>
    <script src="../public/app.js"></script>
</body>
</html>